<article id="contact">
    <div class="container">
        <h2>Hey, Hey!</h2>
        <div>
            <p>Ich freue mich über jede Flaschenpost, jede Ufo-Meldung und jeden Bug-Hinweis.
                Schicken Sie mir gern eine Nachricht über das Formular oder per Mail an <a href="mailto:mail@sebastianruehmann.de">mail@sebastianruehmann.de</a>!
                Alternativ finden Sie mich auch bei <a target="_blank" href="https://www.xing.com/profile/Sebastian_Ruehmann">XING</a>
                oder <a href="https://twitter.com/RuehMen" target="_blank">Twitter</a>.</p>
            <div class="col-right-1-3 right">
                <!--<img src="img/profil.jpg" id="pic" alt="Sebastian Rühmann - Foto">-->
            </div>
            <div class="col-left-2-3" id="form_wrapper">
                <form id="form">
                    <input id="fieldName" type="text" autocomplete="on" name="name" placeholder="Name">
                    <input id="fieldEmail" type="email" autocomplete="on" name="email" placeholder="Email">
                    <textarea id="fieldMessage" cols="3" wrap="hard" name="message" placeholder="Message" rows="1"></textarea>
                    <input type="submit" id="submit" value="Senden">
                </form>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</article>