<article id="intro">
    <div class="container">
        <div class="quote"><span>Mich motivieren zukunftsweisende Projekte</span><br>
            <span>Ich stelle mich gern neuen Herausforderungen</span><br>
            <span>Dabei <strong class="red">❤</strong> ich einfache Lösungen</span>
        </div>
        <div class="bottom-wrapper">
            <a target="_blank" href="http://codepen.io/sebastianruehmann">
                <div class="smallbox left codepen">
                    <img alt="Codepen" src="img/codepen.png">
                    <span class="undertext">Codepen</span></div>
            </a>
            <a target="_blank" href="https://github.com/sebastianruehmann">
                <div class="smallbox right github">
                    <img alt="Github" src="img/github.png">
                    <span class="undertext">Github</span>
                </div>
            </a>
            <div style="clear: both;"></div>
        </div>
    </div>
</article>