<article id="skills">
    <div class="container">
        <h2>Werkzeugkoffer</h2>
        <div><p>Wie viele Entwickler habe auch ich mich auf einige Programmiersprachen und Bibliotheken spezialisiert.
            Sie sind meine Werkzeuge um nachhaltige und modulare Projekte zu verwirklichen. Ich arbeite sowohl an komplexen <span class="area" data-area="backend">Backend
                    Lösungen</span>, als auch an interaktiven <span class="area" data-area="frontend">Frontend-Kompositionen</span>.
            Jedes Projekt kann mit Hilfe eines <span class="area" data-area="cms">CMS</span> (Content Management Systems) auch nachpflegbar aufgebaut werden.
            Leidenschaftlich gern setze ich auch händisch programmierte Webseiten um.</p></div>
        <ul id="skill-logos">
            <li><img class="backend api" src="img/skills/php.png" alt="Backbone"></li>
            <li><img class="backend api" src="img/skills/mysql-logo.png" alt="CSS3"></li>
            <li class="short"><img class="frontend" src="img/skills/css3.png" alt="MySQL"></li>
            <li><img class="frontend" src="img/skills/underscore.png" alt="PHP"></li>
            <li><img class="cms short" src="img/skills/drupal.png" alt="Drupal"></li>
            <li class="short"><img class="frontend" src="img/skills/html5.png" alt="Underscore"></li>
            <li><img class="frontend" src="img/skills/jquery-logo.png" alt="jQuery"></li>
            <li><img class="backend" src="img/skills/backbone.png" alt="HTML5"></li>
            <li><img class="cms" src="img/skills/wordpress.png" alt="Wordpress"></li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</article>