<div id="welcome">
    <div id="welcome-content"><span id="hi">Hi!</span>
        <h1 id="welcome-hl">Mein Name ist Sebastian Rühmann</h1>
        <div id="welcome-desc">Ich bin Freelancer für anspruchsvolle Webanwendungen.</div>
    </div>
    <div id="welcome-overlay"></div>
</div>
