<nav id="navigation">
    <ul>
        <li><a class="navigation-link" tabindex="1" href="#welcome">Start</a></li>
        <li><a class="navigation-link" tabindex="2" href="#intro">Motivation</a></li>
        <li><a class="navigation-link" tabindex="3" href="#skills">Fähigkeiten</a></li>
        <li><a class="navigation-link" tabindex="4" href="#references">Referenzen</a></li>
        <li><a class="navigation-link" tabindex="5" href="#contact">Kontakt</a></li>
    </ul>
</nav>