<!DOCTYPE html>
<html>
<head lang="de">
    {{> head title="Sebastian Rühmann - Impressum" keywords="Webdesign,Webentwicklung,Programmierung,Hamburg,PHP,Javascript,Wordpress,Webseite,App,Drupal" description="Ich bin Cineast, Detailliebhaber und hauptberuflicher Nerd. Als Entwickler verwirkliche ich aus Hamburg Webseiten, Webapps und andere digitale Projekte." }}
</head>
<body>
<div id="content-wrapper">
    <a href="index.html" class="back">Back to Site</a>
    <div id="imprint">
        <div class="container">
            <h1>Impressum</h1>
            <section class="shadowless content first">
                <p><strong>Datenschutzerklärung für den Webanalysedienst Google Analytics</strong></p><br />
                <p>
                    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google").
                    Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert
                    werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den
                    Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an
                    einen Server von Google in den USA übertragen und dort gespeichert. Wir haben die IP-Anonymisierung
                    aktiviert. Auf dieser Webseite wird Ihre IP-Adresse von Google daher innerhalb von
                    Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über
                    den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse
                    an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers
                    dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten,
                    um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und
                    der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die
                    im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten
                    von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung
                    Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
                    nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus
                    die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer
                    IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem
                    folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
                    <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank" rel="nofollow">http://tools.google.com/dlpage/gaoptout?hl=de</a>
                </p>
                <p>
                    Sebastian Rühmann<br />
                    Wiesingerweg 5<br />
                    20253 Hamburg</p>
                <p>
                    Telefon: 017672884844<br />
                    E-Mail: <a href="mailto:mail@sebastianruehmann.de">mail@sebastianruehmann.de</a>
                </p>
            </section>
        </div>
    </div>
</div>
<canvas id="particles"></canvas>
<link href="css/imprint.min.css" rel="stylesheet" property="stylesheet">
{{> ga }}
{{> richsnippets }}
<script src="js/index.min.js" type="text/javascript"></script>
</body>
</html>