<!DOCTYPE html>
<html>
<head lang="de">
    {{> head title="Sebastian Rühmann - Webentwickler Hamburg" keywords="Webdesign,Webentwicklung,Programmierung,Hamburg,PHP,Javascript,Wordpress,Webseite,App,Drupal" description="Ich bin Cineast, Detailliebhaber und hauptberuflicher Nerd. Als Entwickler verwirkliche ich aus Hamburg Webseiten, Webapps und andere digitale Projekte." }}
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="preload">
<header class="header">
    <div id="microman">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </div>
    {{> navigation }}
    <img id="logo" alt="Sebastian Rühmann Logo" src="img/logo/logo.svg"></header>
<main id="content-wrapper">
    <section>
    {{> sections/start }}
    {{> sections/intro }}
    {{> sections/skills }}
    {{> sections/references }}
    {{> sections/contact }}
    <footer id="footer">
        <ul>
            <li><a class="imprint" href="impressum.html">Impressum</a></li>
        </ul>
    </footer>
    </section>
</main>
<canvas id="particles"></canvas>
<script src="js/index.min.js" type="text/javascript"></script>
{{> ga }}
{{> richsnippets }}
</body>
</html>
